/* HeroesComponent's private CSS styles */

hr {
  height: 1px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.tcgs {
    margin: 0 0 1000% 0;
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  .tcgs li {
    cursor: pointer;
    position: relative;
    left: 0;
    padding: 0.5em 0em 0em 0em;
    height: 1em;
    font-size: 20px;
    margin: auto;
    height: auto;
  }
  .tcgs li:hover {
    width: 100%;
    color: white;
    background-color: #2e8bdd;
  }
  .tcgs li.selected {
    background-color: #1f5a8f;
    color: white;
  }
  .tcgs li.selected:hover {
    background-color: #1f5a8f;
    color: white;
  }
  .tcgs li.selected:active {
    background-color: black;
    color: white;
  }
  
  input {
    padding: .5rem;
  }

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/