<a [routerLink]="['/']">


</a>
<ul class="tcgs">
  <li *ngFor="let tcg of tcgs" [class.selected]="tcg === selectedTCG" (click)="onSelect(tcg)">
    <span>{{tcg.name}}</span> 
    <div *ngIf="tcg === selectedTCG" >

      <!--h2>{{selectedTCG.name | uppercase}} Details</h2>
      <div><span>id: </span>{{selectedTCG.id}}</div>
      <div>
        <label for="tcg-name">TCG name: </label>
        <input id="tcg-name" [(ngModel)]="selectedTCG.name" placeholder="name">
      </div-->
      <p> Poopoo </p>
      <p> Peepee </p>
      <p> Furry Shit </p>

    </div>
  </li>



</ul>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->