<a [routerLink]="['/']">


</a>
<ul class="tcgs">
  <li *ngFor="let tcg of tcgs" [class.selected]="tcg === selectedTCG" (click)="onSelect(tcg)">
    <span><h1>{{tcg.name}}</h1></span> 
    <hr>
    <div *ngIf="tcg === selectedTCG" >

      <!--h2>{{selectedTCG.name | uppercase}} Details</h2>
      <div><span>id: </span>{{selectedTCG.id}}</div>
      <div>
        <label for="tcg-name">TCG name: </label>
        <input id="tcg-name" [(ngModel)]="selectedTCG.name" placeholder="name">
      </div-->
      <li *ngFor="let product of products" [class.selected]="tcg === selectedTCG" (click)="onSelect(tcg)">
        <span><h2>{{product.name}}</h2></span> 
      </li>

    </div>
    <!--mat-divider></mat-divider-->
    
  </li>



</ul>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->